*{
    margin: 0;
    padding: 0 ; 
    /* background-color:white; */
}
.container{
    width: 100%;
    height: calc(100%-100px);
    background-image: url("../images/bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.form-container{
   backdrop-filter:blur(10px) ;
 background: rgba(255,255,255,0.15);
    margin:0 auto;
    border-radius: 60px;
    
    border: 1px solid rgba(255,255,255,0.3);
    max-width: 400px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 30px;
}
.form h2{
    filter: blur(0);
}

